#bibliotheque  {
    height:100%;
    z-index:50;
    margin-top: 35px;
    padding-top: 10px;
    padding-left:15px;
    padding-right:5px;
    background: transparent repeat left top;
    clear: both;
}

#recherche_histoire {
    z-index:700;
    background-color: rgb(200, 137, 100);
    margin-top: 0;
    padding: 5px;
    display:inline-block;
}

#recherche_histoire button {
    width: 30px;
    margin-top: -3px;
}

#conteneur_bibliotheque #recherche_histoire {
    float: right;
    margin-top: -4px;
}

#conteneur_resultat_recherche {
    position: absolute;
    width: 330px;
    max-height: 285px;
    z-index: 300;
    overflow-y: auto;
}

.magazine_trouve img {
    margin-right: 5px;
    margin-top: 2px;
}

.resultat_recherche, .magazine_trouve, .histoire_trouvee {
    width: 300px;
    line-height: 22px;
    color: black;
    overflow-x: hidden;
    padding: 5px 8px !important;
}

.conteneur_label_histoire {
    position: absolute;
    padding: 1px 4px 0 !important;
    margin: 4px 12px;
    font-size: 11px !important;

}

.conteneur_label_histoire span.label_histoire {
    display: inline-block;
    max-width: 270px;
    overflow-x: hidden;
    cursor: pointer;
}

.conteneur_label_histoire a {
    cursor: pointer;
    font-size: 19px;
    opacity: 0.6;
    margin: 0 0 0 6px;
    border-bottom: 0 !important;
}

.conteneur_label_histoire a .glyphicon-white {
    color: #fff;
}

.conteneur_label_histoire a:hover {
    opacity: 1.0
}

.conteneur_label_histoire .remove {
    top: 2px;
}

.resultat_recherche {
    font-weight: bold;
}

.magazine_trouve, .histoire_trouvee {
    cursor:pointer;
}

#partager_bibliotheque {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fleche_position {
    z-index:100;
    position: absolute;
}

.etagere {
    margin: 0 -15px 10px -15px;
    background: transparent url('../edges/textures/bois/KNOTTY PINE.jpg') repeat-x 10px 0;
}

.select_sous_texture {
    display: block !important;
}

.select_sous_texture ul {
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.select_sous_texture ul li, .select_sous_texture button {
    background-repeat: repeat-x;
}

.select_sous_texture ul li a:hover {
    background-color: initial;
    opacity: 0.5;
}

#bibliotheque .etagere {
    margin-top: -5px;
    margin-right: -5px;
}

.etagere:last-child {
    margin-bottom: 0;
}

.edge_container {
    line-height: 0;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 5px;
    margin-right: -15px;
    background-image: url('../edges/textures/bois/HONDURAS MAHOGANY.jpg');
}

.tranche {
    z-index: 800;
    background-color:white;
}

.titre_magazine {
    font-size: 20px;
}

.numero_magazine {
    font-size: 16px;
}

.lien_participer {
    color:blue;
    text-decoration: underline;
}

.lien_apercus {
    background-color: white;
    background-repeat: no-repeat;
    color: red;
    cursor: pointer;
    margin-left: 1px;
    padding-top: 25px;
    position: absolute;
    width: 60px;
    z-index: 500;
}

#page_suivante {
    background-image:url('../images/fleche_droite.png');
}

#page_precedente {
    background-image:url('../images/fleche_gauche.png');
}

.page_invisible {
    background-image:url('../images/page_invisible_motif.jpg');
}

.page_arriere {
    z-index:400;
}

.page_avant {
    z-index:500;
}

.page_arriere img, .page_avant img {
    height:100%;
    width:100%;
}

.magazine_deplacable .handle {
    cursor:move;
}

#contributeurs {
    border:1px solid white;
}

#contributeurs h2 {
    text-align:center;
}

.contributeur {
    padding-left: 10px;
    font-size:18px;
    line-height:22px;
}

.progress-wrapper {
    margin-top: 15px;
}

.progress-wrapper .issue_title {
    text-align: center;
    margin-bottom: 5px;
}

.progress-current {
    background-color: lightgreen !important;
}

.has-no-edge {
    margin-top: 25px;
}

.lien_bibliotheque {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    white-space: nowrap;
}

.lien_bibliotheque img {
    height: 32px;
}

@media (min-width: 767px) {
    #recherche_histoire input {
        width: 300px;
    }

    .progress-wrapper .issue_title {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    #conteneur_bibliotheque #recherche_histoire {
        margin-top: 10px;
    }
}