#bibliotheque  {
    width:100%;
    height:100%;
    z-index:50;
    margin-top: 35px;
    padding-top: 10px;
    padding-left:15px;
    padding-right:5px;
    background: transparent repeat left top;
    clear: both;
}

#recherche_histoire {
    z-index:700;
    background-color: rgb(200, 137, 100);
    margin-top: 0;
    padding: 5px;
    display:inline-block;
}

#recherche_histoire button {
    width: 30px;
    margin-top: -3px;
}

#conteneur_bibliotheque #recherche_histoire {
    position: absolute;
    display: none;
    margin-top: -4px;
}

#conteneur_resultat_recherche {
    position: absolute;
    z-index: 300;
}

.magazine_trouve img {
    margin-right: 5px;
    margin-top: 2px;
}

.resultat_recherche, .magazine_trouve, .histoire_trouvee {
    width: 276px;
    height: 18px;
    line-height: 22px;
    color: black;
    padding: 5px 5px 5px 34px !important;
    overflow-x: hidden;
}

.conteneur_label_histoire {
    position: absolute;
    padding: 1px 4px 0 !important;
    margin: 4px 12px;
    font-size: 11px !important;

}

.conteneur_label_histoire span.label_histoire {
    display: inline-block;
    max-width: 270px;
    overflow-x: hidden;
    cursor: pointer;
}

.conteneur_label_histoire a {
    cursor: pointer;
    font-size: 19px;
    opacity: 0.6;
    margin: 0 0 0 6px;
    border-bottom: 0 !important;
}

.conteneur_label_histoire a .glyphicon-white {
    color: #fff;
}

.conteneur_label_histoire a:hover {
    opacity: 1.0
}

.conteneur_label_histoire .remove {
    top: 2px;
}

.resultat_recherche {
    font-weight: bold;
}

.magazine_trouve, .histoire_trouvee {
    cursor:pointer;
}

#partager_bibliotheque {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fleche_position {
    z-index:100;
    position: absolute;
}

.etagere {
    margin: 0 -15px 10px -15px;
    background: transparent url('../edges/textures/bois/KNOTTY PINE.jpg') repeat-x 10px 0;
}

#bibliotheque .etagere {
    margin-top: -5px;
    margin-right: -5px;
}

.etagere:last-child {
    margin-bottom: 0;
}

.edge_container {
    line-height: 0;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 5px;
    margin-right: -15px;
    background-image: url('../edges/textures/bois/HONDURAS MAHOGANY.jpg');
}

.edge_empty {
    display: inline-block;
    width: 20px;
    height: 200px;
    background: white;
    white-space: nowrap;
    border: 1px solid black;
    cursor: default;
}

.edge_empty .container {
    position: absolute;
    transform: rotate(-90deg) translate(-200px, 0);
    transform-origin: 0 0;
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
}

.edge_empty .container .text {
    display: inline-block;
    margin: 8px;
    overflow: hidden;
    color: black;
}

.tranche {
    z-index: 800;
    background-color:white;
}

.magazine_deplacable .handle {
    cursor:move;
}

#contributeurs {
    border:1px solid white;
}

#contributeurs h2 {
    text-align:center;
}

.contributeur {
    padding-left: 10px;
    font-size:18px;
    line-height:22px;
}

.progress-wrapper {
    margin-top: 15px;
}

.progress-wrapper .issue_title {
    text-align: center;
    margin-bottom: 5px;
}

.progress-current {
    background-color: lightgreen !important;
}

.has-no-edge {
    margin-top: 25px;
}

@media (min-width: 767px) {
    #recherche_histoire input {
        width: 300px;
    }

    .progress-wrapper .issue_title {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    #recherche_histoire {
        width: 100%;
    }

    #conteneur_bibliotheque #recherche_histoire {
        position: static;
        margin-top: 10px;
    }
}