#bibliotheque  {
    z-index:50;
    background: transparent repeat left top;
    clear: both;
    padding-left:15px;
    padding-right:5px;
}

#recherche_histoire {
    z-index:700;
    background-color: rgb(200, 137, 100);
    margin-top: 0;
    padding: 5px;
    display:inline-block;
}

#recherche_histoire input {
    width: 300px;
}

#recherche_histoire button {
    width: 30px;
    margin-top: -3px;
}

#conteneur_bibliotheque #recherche_histoire {
    position: absolute;
    display: none;
    margin-top: -4px;
}

#conteneur_resultat_recherche {
    position: absolute;
    z-index: 300;
}

.magazine_trouve img {
    margin-right: 5px;
    margin-top: 2px;
}

.resultat_recherche, .magazine_trouve, .histoire_trouvee {
    width: 276px;
    height: 18px;
    line-height: 22px;
    color: black;
    padding: 5px 5px 5px 34px !important;
    overflow-x: hidden;
}

.conteneur_label_histoire {
    position: absolute;
    padding: 2px 4px 4px !important;
    margin: 4px 12px;
    font-size: 11px !important;

}

.conteneur_label_histoire span.label_histoire {
    display: inline-block;
    max-width: 270px;
    overflow-x: hidden;
    cursor: pointer;
}

.conteneur_label_histoire a {
    cursor: pointer;
    font-size: 19px;
    opacity: 0.6;
    margin: 0 0 0 6px;
    border-bottom: 0 !important;
}

.conteneur_label_histoire a .glyphicon-white {
    color: #fff;
}

.conteneur_label_histoire a:hover {
    opacity: 1.0
}

.conteneur_label_histoire .remove {
    vertical-align: bottom;
    top: 2px;
}

.resultat_recherche {
    font-weight: bold;
}

.magazine_trouve, .histoire_trouvee {
    cursor:pointer;
}

.fleche_position {
    z-index:100;
    position: absolute;
}
.etagere {
    margin-top:-3px;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:10px 0;
    margin-left:-15px;
    margin-right:-5px;
}

.tranche {
    position:relative;
    z-index:100;
    background-color:white;
}

.bulle {
    border: 1px solid black;
    background-color: white;
    color: black;
    position:absolute;
    z-index:150;
    width:300px;
    height:200px;
    overflow: auto;
    margin-top:-150px;
}

.titre_magazine {
    font-size: 20px;
}

.numero_magazine {
    font-size: 16px;
}

.lien_participer {
    color:blue;
    text-decoration: underline;
}

.lien_apercus {
    background-color: white;
    background-repeat: no-repeat;
    color: red;
    cursor: pointer;
    margin-left: 1px;
    padding-top: 25px;
    position: absolute;
    width: 60px;
    z-index: 500;
}

#page_suivante {
    background-image:url('../images/fleche_droite.png');
}

#page_precedente {
    background-image:url('../images/fleche_gauche.png');
}

.page_invisible {
    background-image:url('../images/page_invisible_motif.jpg');
}

.page_arriere {
    z-index:400;
}

.page_avant {
    z-index:500;
}

.page_arriere img, .page_avant img {
    height:100%;
    width:100%;
}

.magazine_deplacable .handle {
    cursor:move;
}

#contributeurs {
    border:1px solid white;
}

#contributeurs h2 {
    text-align:center;
}

.contributeur {
    padding-left: 10px;
    font-size:18px;
    line-height:22px;
}