.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#barre_pct_classement {
    width: 200px;
    border: 1px solid white;
}

#pct_classement {
    width: 0;
    background-color: red;
}

.graph_possessions, .graph_auteurs {
    background-color: white;
}

.graph_auteurs {
    width: 100% !important;
    height: 500px !important;
}

#suggestions ul.liste_histoires {
    margin: 0;
}

#suggestions .numero {
    display: inline-block;
    margin-top: 20px;
}

#suggestions .numero.top1 {
    font-size: xx-large;
}

#suggestions .numero.top2 {
    font-size: x-large;
}

#suggestions .numero.top3 {
    font-size: large;
}
#liste_notations .nom_auteur,
#liste_notations .notation_auteur,
#liste_notations .supprimer_auteur {
    display: inline-block;
    width: 200px;
}

#graph_publications,
#graph_conditions {
    min-height: 400px;
}