html, body {
	height:100%;
	margin:0;
	font:11px verdana,arial,sans-serif;
	line-height:15px;
	color: white;
}

body {
	background-color: rgb(61, 75, 95) !important;
}

object {
	display: none;
}

a {
	color:#ffffff;
	border-bottom: 1px dotted #ffffff;
}

a.noborder, a.noborder:HOVER {
    border-bottom: 0 !important;
}

.underlined {
	text-decoration: underline;
}

.hidden, .template {
	display: none !important;
}

a:HOVER {
	border-bottom: 1px dashed #ffffff !important;
}

a, a:HOVER {
	text-decoration: none;
}

a.has_tooltip, a.has_tooltip:HOVER {
	white-space: normal;
	border-bottom: 0 !important;
	cursor: help;
}

del {
	white-space:nowrap;
}

a.important:HOVER {
	text-decoration:underline;
	font-weight: bold;
}

.cache {
	display: none;
}

.nowrap {
    white-space: nowrap;
}

.medaille_profil {
	float: left;
	text-align: center;
	margin: 5px;
	width: 160px;
}

.medaille_profil img {
	height: 70px;
}

#recemment {
	position: absolute;
	top: 450px;
	padding: 5px 5px 20px 5px;
	border-top: 1px solid #23282e;
}

#recemment h4 {
	margin-left: 15px;
    margin-top: 0;
}

#recemment #evenements div.evenement {
	margin-top: 12px;
}

#recemment #evenements div.evenement .date {
	color: grey;
	float: right;
}

#contenu {
	padding: 45px 20px 20px 20px;
	min-height: 500px;
}

#liste_numeros .num_manque,
#liste_numeros .num_possede {
	display: none;
}

.num_manque {
	width:100%;
	background-color:black;
	cursor:default;
	height:16px;
	padding-top:4px;
}

.num_possede {
	width:100%;
	background-color:rgb(200, 137, 100);
	cursor:default;
	height:16px;
	padding-top:4px;
}

#liste_numeros.manquants .num_manque,
#liste_numeros.possedes .num_possede {
	display: block;
}

.num_checked {
	background-image: url(../checkedbox.png);
	background-repeat: no-repeat;
	background-position: right center;
	outline:1px solid white;
}

.num_mauvais {
	border-radius: 50%;
	background-color:red;
}

.num_moyen {
	border-radius: 50%;
	background-color:orange;
}

.num_bon {
	border-radius: 50%;
	background-color:#2CA77B;
}

.num_indefini {
	border-radius: 50%;
	background-color:#808080;
}

.half_transparent {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.survole {
    opacity:0.7;
    filter : alpha(opacity=70);
    -moz-opacity : 0.7;
}

.colorselector_manque {
	border:1px solid black;
	cursor:default;
	background-color:black;
}

.colorselector_mauvais {
	border:1px solid black;
	cursor:default;
	background-color:red;
}

.colorselector_moyen {
	border:1px solid black;
	cursor:default;
	background-color:orange;
}

.colorselector_bon {
	border:1px solid black;
	cursor:default;
	background-color:#2CA77B;
}

.colorselector_indefini {
	border:1px solid black;
	cursor:default;
	background-color:gray;
}

.ejs_context_menuitems{
	padding-left:12px;
	padding-right:7px; 
}

.desactive {
	filter : alpha(opacity=50);
    -moz-opacity : 0.5;
    opacity : 0.5; 
}

.bold {
    font-weight: bold;
}

.valider {
    background-color:green;
}

.annuler {
    background-color:red;
}

.beta, .nouveau {
    font-size: smaller;
    vertical-align: super;
    font-weight: bold;
}

.preview {
    float:left;
    margin-top: -2px;
    cursor:pointer;
}

.num {
    margin-left:15px;
}

.soustitre {
    color:gray;
}

.details_numero {
    float:right;
    height:16px;
    margin-right:5px;
    width:16px;
}

.details_numero.gauche {
	float: left;
	margin-left: -25px;
}

.bloc_details {
    padding-right:20px;
    margin-top:-2px;
    display:inline;
    float:right;
}

.num_checked .bloc_details {
    padding-right:21px;
}

.icone_detail {
    width:16px;
}

#presentation_demo {
	border:1px solid white;
	margin-bottom: 20px;
	padding: 5px 10px 10px 15px;
}

#presentation_demo h2 {
	text-align: center;
}

#main {
	background-color: rgb(61, 75, 95);
}

#zone_logo1 {
	background: rgb(200, 137, 100) url('../Proposition logo_1.jpg') no-repeat top center;
	background-size: 659px 182px;
	height: 180px;
}

#zone_logo2 {
	background: transparent url('../Proposition logo_2.png') no-repeat top center;
	background-size: 659px 42px;
	padding-left:5px;
	vertical-align: top;
}

#zone_logo2 .welcome {
	margin-top: 0;
	padding: 20px;
}

#footer {
	border-top: 1px solid white;
	padding-top: 10px;
}

#nb_users {
	position: absolute;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
	width: 242px;
}

#flags {
	position: absolute;
	right: 0;
	margin: 20px;
}

#flags a.drapeau_langue, #flags a.drapeau_langue:HOVER, #flags a.drapeau_langue img {
	border:0 !important;
}

ul#choix_impression {
	margin-top: 31px;
}

ul#choix_impression>li {
	list-style: none;
	min-height: 150px;	
	margin-bottom: 30px;
	padding-left: 170px;
	padding-top: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left center;
	min-width: 150px;
}

ul#choix_impression ul.caract li{
	margin-top: 14px;
}

.exclusif {
	border: 1px solid #C88964;
	padding: 3px;
	margin-right: 5px;
	color: #C88964;
	white-space: nowrap;
}

.toggler_aide_recherche_magazine {
    cursor: pointer;
}

#magazines_possedes {
	margin-top: 25px;
}

#magazines_possedes img.flag {
	vertical-align: inherit;
}

#liste_pays,
#liste_magazines,
#liste_auteurs {
    width: 300px;
}

#liste_numeros img.flag {
	vertical-align: top;
}

#whattheduck {
    margin-top: 20px;
	padding: 20px 10px;
    border: 1px solid white;
}

.iframe_map {
	height: 700px;
}

.carousel {
	width: 960px;
	margin: auto;
	margin-bottom: 20px;
}

.carousel-indicators {
	bottom: 60px !important;
}

.carousel-control.left,
.carousel-control.right {
	width: 5%;
	border-bottom: 0;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
	border-bottom: 0 !important;
}

.carousel .item>img {
	height: 330px !important;
}

.carousel-caption.bottom {
	background-color: rgba(0,0,0,.7);
	left: 0;
	bottom: 0;
	padding-bottom: 0;
	height: 80px;
}

.carousel-caption.right {
	position: absolute;
	left: auto;
	right: 0;
	width: 47%;
	height: 100%;
	text-align: left;
	padding-bottom: 0;
	opacity: 0.8;
	bottom: 0;
	overflow-y: auto;
}

.carousel-caption.right.top-offset {
	top: 75px;
	height: inherit;
}

@media (min-width: 767px) {
	body {
		padding: 0 0 0 300px !important;
	}

	.text_input {
		width: 300px;
	}

	.text_input.short {
		width: 80px;
	}

	.logo_petit {
		display: none;
	}

    #whattheduck {
        width: 300px;
    }

    #presentation_demo {
        width: 400px;
    }

	.iframe_map {
		width: 70%;
	}

	.carousel-indicators {
		margin-left: -37.5% !important;
		width: 25% !important;
	}

	.carousel-control.right {
		left: 480px !important;
		margin-left: -5%;
	}

	.carousel .item>img,
	.carousel-caption.bottom {
		width: 480px !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
	}

	.num {
		float: left;
		white-space: nowrap;
		max-width: 170px;
		overflow-x: hidden;
	}

	.bloc_details {
		padding-right: 0;
	}

	.iframe_map {
		width: 90%;
	}

	.carousel {
		width: inherit;
	}

	.carousel-caption.right {
		display: none;
	}

	.carousel .item>img,
	.carousel-caption.bottom {
		width: 100%;
	}

	.carousel-caption.bottom {
		background-color: rgba(0,0,0,.4);
	}

	.carousel-caption.bottom h3 {
		font-size: 18px;
	}

	.carousel .item>img {
		padding-bottom: 100px;
		height: inherit !important;
	}

	#bouquinerie_commentaires {
		width: 100%;
	}

    #liste_pays,
    #liste_magazines,
    #liste_auteurs {
        width: 90% !important;
    }

}