#bibliotheque  {
    z-index:50;
    background-color:transparent;
    background-repeat:repeat;
    background-position:left top;
    padding-left:15px;
    padding-right:5px;
}

.etagere {
    margin-top:-3px;
    background-color:transparent;
    background-repeat:repeat;
    background-position:left top;
    margin-left:-15px;
    margin-right:-15px;
}

.tranche {
    position:relative;
    z-index:100;
    background-color:white;
}