ul.tabnav {
    /*border-bottom:1px solid #66CC66;*/
    font:bold 11px verdana,arial,sans-serif;
    list-style-type:none;
    margin:1px;
    padding:0 0 24px 0;
}
.nouveau {
    padding-bottom:10px;
}

.nouveau a:hover {
    padding-bottom:13px;
}

ul.tabnav li {
    background-color:rgb(200, 137, 100);
    float:left;
    height:21px;
    margin:2px 2px 0;
}
ul.tabnav li.active {
    border-bottom:1px solid #FFFFFF;
}
ul.tabnav li.active a {
    color:#000000;
}
.tabnav a {
    color:#666666;
    display:block;
    float:left;
    padding:4px;
    border-bottom: 0px;
}
.tabnav a:hover {
    background:none repeat scroll 0 0 #FFFFFF;
}

.tabnav li a img {
    border:0px;
    margin-top:1px;
}

.tabnav li a span {
    vertical-align:top;
    margin-left:2px;
}