version: '3'
services:
  web:
    container_name: ducksmanager
    build:
      context: .
      dockerfile: Dockerfile-dev
    ports:
     - "8000:80"
    volumes:
     - .:/var/www/html
     - ./php.xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    restart: always
    networks:
      - dmserver_front-network
networks:
  dmserver_front-network:
    external: true
