html {
    margin: 0;
}

body {
    margin: 17px 0 8px 0;
    background: #2099C8 url(bg.gif) repeat-x;
    font-family: Lucida Grande, Arial, sans-serif;
    color: #000000;
}

h1 {
    margin: 10px 0 12px 0;
    text-align: right;
    color: #444444;
}

h3 {
    margin: 15px 0 0 0;
    font-size: 16px;
}

h3 a {
    color: #000000;
}

p {
    margin: 8px 0 0 0;
    font-size: 14px;
    line-height: 19px;
}

a {
    text-decoration: none;  
    color: SlateBlue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a h2{
    color: #000000;
}

img {
    border: none;
}

img[align="center"] { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

code,
pre.code {
    color: DarkGreen;
}

.floatRight {
    margin-left: 10px;
    float: right;
}

/************************************************************************************************/

#main {
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 753px;
    background-color: #FFFFFF;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#topNav {
    z-index: 200;
    position: absolute;
    top: 15px;
    right: 26px;
    text-align: right;
    line-height: 20px;
}

#sideNav {
    margin-top: 30px;
    line-height: 30px;
}

#topNav a {
    font-family: Verdana, sans-serif;
    font-size: 15px; 
    font-weight: normal;
    color: #737373;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.corner {
    position: absolute;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
}

.cornerTopLeft {
    top: 0;
    left: 0;
    background-image: url(cornerTopLeft.gif);
}

.cornerTopRight {
    right: 0;
    top: 0;
    background-image: url(cornerTopRight.gif);
}

.header {
    z-index: 100;
    position: absolute;
    left: -15px;
    top: 35px;
}

.footer {
    padding: 20px ;
    text-align: center;
}

#legal {
    font-size: 10px;
    color: #888888;    
}

#content {
    position: relative;
    top: 128px;
    left: 0;
    width: 100%;
    min-height: 200px;
    margin-bottom: 108px;
    background: url(stageBg.gif) repeat-x;
}

.columns {
    padding: 0 0 10px 0;
    position: relative;
}

.leftColumn {
    padding: 0 0 0 32px;
    width: 480px;
}

.leftColumn p,
.fullColumn p {
    color: #555555; 
}

.fullColumn {
    padding: 0 26px;
}

.section {
    min-height: 165px;
}

.screenCaption {
    margin: -5px 0 10px 0;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #737373;
}

.bigPara {
    margin: 0 0 20px 0;
    color: #222222 !important;
    font-size: 20px;
    line-height: 30px;
}

.rightColumn {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 200px;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.miniscreen {
    float: left;
    margin: 0 20px 10px 0;
    background-color: #888888;
}

.miniscreen.odd {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.smallScreen {
    float: left;
    margin: 0 20px 10px 0;
    width: 214px;
    height: 164px;
    background-color: #888888;
}

.smallScreen.odd,
.smallerScreen.odd {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.cheapScreen {
	border: 2px solid #888888;
}

.smallerScreen {
    float: left;
    margin: 0 20px 10px 0;
    width: 200px;
    height: 100px;
    background-color: #888888;
}

/************************************************************************************************/

table.quad {
    margin-left: 130px;
    width: 570px;
    text-align: center;
}

.quadLeft {
    padding: 30px;
    border: 1px solid #888888;
    background-color: yellow;
}

.quadRight {
    padding: 30px;
    border: 1px solid #888888;
    background-color: lightgreen;
}

.quadFull {
    padding: 30px;
    border: 1px solid #888888;
    background-color: SpringGreen;
}

.quadLeft.odd {
    background-color: pink;    
}

.quadRight.odd {
    background-color: skyblue;
}


.quad a {
    font-size: 20px;
    color: #222222;
}

/************************************************************************************************/

#screens {
    position: relative;
}

.topTab {
    position: absolute;
    top: 59px;
    height: 21px;
}

.noteBox {
    padding: 8px;
    font-size: 11px;
}

.newsBox {
    border: 1px solid #CBE087;
    background: LightYellow;
    margin-bottom: 8px;
    padding: 0 8px 8px 8px;
}

.newsBox2 {
    margin-bottom: 8px;
    padding: 8px 8px 0 8px;
    color: red;
}

.newsBox2 form {
    margin-top: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.infoTable {
    font-size: 14px;
}

.keyHead {
    padding: 16px 0 4px 0;
    border-bottom: 1px solid #CCCCCC;
    font-size: 18px;
    font-weight: bold;
}

.keyType {
    font-size: 12px;
    font-weight: bold;
}

.keyCode {
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}
