#footer_ajout_suppr {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #eeeeee;
    color: #777777;
}

#footer_ajout_suppr #footer_titre {
    position: absolute;
    clear: both;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 10px;
    background: #dddddd;
    text-align: center;
}

#footer_ajout_suppr .footer_section {
    float: left;
    width: 23%;
    height: 40px;
    margin-left: 1%;
}

#footer_ajout_suppr .footer_section h2.libelle,
#footer_ajout_suppr .footer_section div.conteneur_liste {
    float: left;
    width: 50%;
    margin: 0;
    padding: 12px 0;
    text-align: center;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul#liste_achats {
    float: left;
    margin-left: 13%;
    margin-bottom: 75px;
    bottom: 75px;
    max-height: 266px;
    overflow-y: auto;
    border: 0;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul#liste_achats li a {
    padding: 4px;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul#liste_achats li.selected {
    display: none;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul#liste_achats.open li.selected {
    display: block;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul {
    position: absolute;
    width: 13%;
    bottom: 35px;
    list-style-type: none;
    border: 1px solid #999999;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul li {
    cursor: pointer;
    height: 38px;
    display: none;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul li a {
    overflow: hidden;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul.open li a {
    overflow: visible;
}

#footer_ajout_suppr .footer_section div.conteneur_liste ul.open li,
#footer_ajout_suppr .footer_section div.conteneur_liste ul li.selected{
    display: list-item;
}

#footer_ajout_suppr #enregistrer_parametrage_numeros {
    float: right;
}

#footer_ajout_suppr #enregistrer_parametrage_numeros h2 {
    background: green;
    color: white;
    width: 100%;
    margin: 0;
    height: 25px;
    padding: 10px 0;
    text-align: center;
}