/* GENERAL STYLES */

div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
    padding: 4px;
}

div.menu input {
	margin-left:10px;
	font-size:12px;
	color:#555555;
}

.menu .separator {
	height: 1px !important;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}

/* DESKTOP STYLES */
.menu.desktop {
	width: 24em;
	background: #f9f8f7;
	padding: 0;
}
.menu.desktop.small {
    width: 16em;
}
.menu.desktop.large {
    width: 32em;
}
.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
    background: #f9f8f7;
}
.menu.desktop a, .types_listes a {
	color: #555;
	padding: 11px 3px 12px 25px;
	margin: 0;
    border-bottom: 0 !important;
}
.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 0;
	line-height: 1px !important;
}

.menu.desktop a {
    background: #f9f8f7 no-repeat 2px 50%;
}

.menu.desktop a.deplacer_avant {
    background-image: url(images/deplacer_haut.png);
}
.menu.desktop a.deplacer_apres {
    background-image: url(images/deplacer_bas.png);
}
.menu.desktop a.fusionner_les_deux {
    background-image: url(images/fusionner.png);
}

.menu.desktop a.type_liste {
    background-image: url(images/type_liste.png);
}
.menu.desktop a.extraire {
    background-image: url(images/layers.png);
}
.menu.desktop a.fusionner_tout {
    background-image: url(images/fusionner_tout.png);
}
.menu.desktop a.type_liste_global {
    background-image: url(images/type_liste_global.png);
}

.menu.desktop a.a_vendre {
    background-image: url(images/av_petit.png);
}
.menu.desktop a.pas_a_vendre {
    background-image: url(images/pas_av_petit.png);
}

.menu.desktop a.non_possede {
    background-image: url(images/non_possede.png);
}
.menu.desktop a.possede {
    background-image: url(images/possede.png);
}
.menu.desktop a.mauvais {
    background-image: url(images/mauvais.png);
}
.menu.desktop a.moyen {
    background-image: url(images/moyen.png);
}
.menu.desktop a.bon {
    background-image: url(images/bon.png);
}

.menu.desktop a.date {
    background-image: url(images/page_date.png);
}
.menu.desktop a.pas_date {
    background-image: url(images/pas_page_date.png);
}

a.classique {
    background: #ffffff url(images/list.png) 2px 50% no-repeat;
}
a.nombre {
    background: #ffffff url(images/sum.png) 2px 50% no-repeat;
}
a.collectable {
    background: #ffffff url(images/table.png) 2px 50% no-repeat;
}
a.dmspiral {
    background: #ffffff url(images/spiral.png) 2px 50% no-repeat;
}

/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) 
*/
.menu.desktop a:hover {
	background-color: #0A246A;
	color: #fff !important;
	cursor:pointer;
}
.menu.desktop a.choisir:hover {
    background-color: #fff;
    color: #555 !important;
}
.menu.desktop a.disabled:hover {
	font-weight:normal;
	cursor:default;
}
.menu.desktop li.selected a {
	background-color: brown;
	color: #fff;
}
.menu.desktop a.save.enabled:hover {
	background-color: green;
	color: #fff;
}

.menu.desktop a.parametre.enabled:hover {
    background-color: transparent;
    color: #555555;
    font-weight: normal;
    cursor: default;
}