html, body {
	height:100%;
	padding:0;
	margin:0;
        font:11px verdana,arial,sans-serif;
        line-height:15px;
}

a {
	color:#ffffff;
	text-decoration: none;
	white-space: nowrap;
	border-bottom: 1px dotted #ffffff;
}

#colonne_gauche a {
	border-bottom: none;
}

a:HOVER {
	text-decoration:none;
	border-bottom: 1px dashed #ffffff !important;
	white-space: nowrap;
}

del {
	white-space:nowrap;
}

a.important {
	/*color:red;*/ 
}
a.important:HOVER {
	text-decoration:underline;
	font-weight: bold;
}

#contenu {
	overflow-x:auto;
}
/*
.num_manque, .num_possede {
    background-image: url('images/icones/view.png');
    background-position: left center;
    background-repeat:no-repeat;
}*/

.num_manque {
	width:100%;
	background-color:black;
	cursor:default;
	height:16px;
	padding-top:4px;
}

.num_possede {
	width:100%;
	background-color:rgb(200, 137, 100);
	cursor:default;
	height:16px;
	padding-top:4px;
}

.num_checked {
	background:url('checkedbox.png') no-repeat right center;
	border:1px solid white;
}

.num_mauvais {
	background-color:red;
}

.num_moyen {
	background-color:orange;
}

.num_bon {
	background-color:#2CA77B;
}

.num_bon_checked {
	width:100%;
	background:url('checkedbox.png') no-repeat right center #2CA77B;
	cursor:default;
	height:16px;
}

.num_excellent {
	background-color:#5BADFF;
}

.num_indefini {
	width:100%;
	background-color:#808080;
	cursor:default;
	height:16px;
}

.survole {
    opacity:0.7;
    filter : alpha(opacity=70);
    -moz-opacity : 0.7;

}

.colorselector_manque {
	border:1px solid black;
	cursor:default;
	background-color:black;
}

.colorselector_mauvais {
	border:1px solid black;
	cursor:default;
	background-color:red;
}

.colorselector_moyen {
	border:1px solid black;
	cursor:default;
	background-color:orange;
}

.colorselector_bon {
	border:1px solid black;
	cursor:default;
	background-color:#2CA77B;
}

.colorselector_excellent {
	border:1px solid black;
	cursor:default;
	background-color:rgb(91,173,255);
}

.colorselector_indefini {
	border:1px solid black;
	cursor:default;
	background-color:gray;
}

.ejs_context_menuitems{
	padding-left:12px;
	padding-right:7px; 
}

.desactive {
	filter : alpha(opacity=50);
    -moz-opacity : 0.5;
    opacity : 0.5; 
}

.bold {
    font-weight: bold;
}

.valider {
    background-color:green;
}

.annuler {
    background-color:red;
}

.beta {
    font-size:smaller;
    color:blue;
    vertical-align:super;
}

.preview {
    float:left;
    margin-top: -2px;
    cursor:pointer;
}

.num {
    margin-left:15px;
}

.soustitre {
    color:gray;
}

.details_numero {
    float:right;
    height:16px;
    margin-right:5px;
    width:16px;
}

.bloc_details {
    padding-right:20px;
    margin-top:-2px;
    display:inline;
    float:right;
}

.num_checked .bloc_details {
    padding-right:21px;
}

.icone_detail {
    width:16px;
}

a.drapeau_langue, a.drapeau_langue:HOVER, a.drapeau_langue img {
	border:0;
}

#presentation_demo {
	border:1px solid white;
	width: 400px;
	margin-bottom: 20px;
	padding: 5px 10px 10px 15px;
}

#presentation_demo h2 {
	text-align: center;
}