<ul class="tabnav">
    {% for tab_text, tab in tabs %}
        {% set tab_name = tab[0] %}
        {% set tab_id = tab[1] %}
        {% set url = not prefix or prefix in ['?','.'] ? 'javascript:return false;':('#{prefix}&amp;#{argument}=#{tab_name}') %}
        {% set nom = not prefix ? '#^[^/]+'|preg_match_first_group(tab_name) : tab_name %}
        {% apply spaceless %}
            <li class="{% if tab_name is same as (current_tab) %}active{% endif %}">
                <a id="{{ tab_id }}"
                   name="{{ nom }}"
                   href="{{ url }}">
                    {{ tab_text }}
                </a>
            </li>
        {% endapply %}
    {% endfor %}
</ul>
