a.info{
    position:relative;
    z-index:24;
    color:#000;
    text-decoration:none
}

a.info:hover{
    z-index:25;
    background-color:#FFF
}

a.info span{
    display: none
}

a.info:hover span{
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:1px solid #000;
    background-color:#FFF;
    color:#000;
    text-align: justify;
    font-weight:none;
    padding:5px;
}