<br />
<br />
Cr&eacute;ez une image PNG contenant uniquement le texte que vous voulez ajouter &agrave; la tranche.
<br />
Faites en sorte que le texte soit le plus lisible possible. Changez les couleurs si n&eacute;cessaire : elles n'ont pas d'importance pour le moment.
<br />
Enregistrez ensuite l'image contenant uniquement le texte, horizontal et bien contrast&eacute;, dans un nouveau fichier.
<iframe style="width:350px;height:280px" src="http://localhost/DucksManager/EdgeCreator/system/application/views/helpers/video.php?file=isoler_texte_final.avi.FLV"></iframe>
<br />...