<br /><br />
Nous y voil&agrave; ! Sur la page qui s'affiche dans What The Font, plusieurs polices de caract&egrave;re vous sont propos&eacute;es.
<br />
Cherchez celle qui ressemble le plus au texte de votre image.
<br />
<a href="javascript:void(0)" onclick="charger_helper('whatthefont_3_ok','helper_whatthefont','Texte')">J'ai trouv&eacute; la police de caract&egrave;res correspondant &agrave; mon texte</a><br />

<a href="javascript:void(0)" onclick="charger_helper('whatthefont_3_fail','helper_whatthefont','Texte')">Je n'ai pas trouv&eacute; une police de caract&egrave;res ressemblant &agrave; mon texte</a><br />